/* Lato */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

/* UbuntuMono */
@font-face {
  font-family: 'UbuntuMono';
  src: url("fonts/UbuntuMono/UbuntuMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuMono';
  src: url("fonts/UbuntuMono/UbuntuMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'UbuntuMono';
  src: url("fonts/UbuntuMono/UbuntuMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuMono';
  src: url("fonts/UbuntuMono/UbuntuMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ComicNeue';
  src: url("fonts/ComicNeue/ComicNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComicNeue';
  src: url("fonts/ComicNeue/ComicNeue-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ComicNeue';
  src: url("fonts/ComicNeue/ComicNeue-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ComicNeue';
  src: url("fonts/ComicNeue/ComicNeue-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Amaranth';
  src: url("fonts/Amaranth/Amaranth-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amaranth';
  src: url("fonts/Amaranth/Amaranth-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Amaranth';
  src: url("fonts/Amaranth/Amaranth-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Amaranth';
  src: url("fonts/Amaranth/Amaranth-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}



@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}