/*
* CSS elements page 01
*/

.container {
  padding: 7px;
  background-color: white;
}

.main-title {
  font-size: 1.8rem;
  text-align: center;
  color: rgb(228, 228, 0);
  background-color: #d53f9a;
  font-weight: 500;
  font-style: italic;
}

.second-title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  background-color: #c6ecf7;
}

.separator .div1 {
  max-width: 43%;
  max-height: 9px;
  background-image: linear-gradient(to right, white, #1e90ff);
}

.div2 {
  max-height: 5px;
  background-color: #1e90ff;
  margin-top: -1px;
}

.column .row1 {
  text-align: end;
  max-width: 225px;
  color: #1e90ff;
  font-size: 1.4rem;
  font-weight: 550;
}

.column .row2 {
  font-size: 1.4rem;
  color: white;
  background-color: #1e90ff;
  font-weight: 550;
}

.billion {
  max-width: auto;
  max-height: auto;
  border: 1px solid red;
  border-radius: 1rem;
  background-color: #f8f893;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.separator2 {
  border-color: #d53f9a;
  margin-top: 0.5rem;
  height: 80px;
  background-color: #d53f9a;
}

.text1 {
  font-size: 0.9rem;
  max-width: 250px;
  padding-top: 1rem;
}

.text2 {
  font-size: 0.9rem;
  padding-top: 1rem;
}

.barra {
  padding-top: 8rem;
  border-left-width: 2px;
  height: 15vh;
  border-color: #d53f9a;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

/*
  Page 02
*/

.textxxs {
  font-size: 0.7rem;
}

.mytable {
  height: 5rem;
  width: 21rem;
}

.divtable {
  padding-right: 2rem;
  padding-top: 0.2rem;
}

.titlesm {
  background-color: #1e90ff;
  text-align: center;
  color: white;
  font-weight: 500;
  font-style: italic;
  width: 21rem;
  border-radius: 0.2rem;
}

.td-content {
  width: 33%; 
  max-width: 33%;
} 

.romano {
  margin-right: 1rem;
  padding-left: 0.5rem;
}



/*
  page 03
*/

.page {
  font-size: 0.7rem;
}

.separador {
  padding-top: 8rem;
  border-left-width: 2px;
  height: 28vh;
  border-color: #d53f9a;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
