/*
* CSS elements page 01
*/

.container {
  padding: 7px;
  background-color: white;
}

.main-title {
  font-size: 1.8rem;
  text-align: center;
  color: rgb(228, 228, 0);
  background-color: #d53f9a;
  font-weight: 500;
  font-style: italic;
}

.second-title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  background-color: #c6ecf7;
}

.separator .div1 {
  max-width: 43%;
  max-height: 9px;
  background-image: linear-gradient(to right, white, #1e90ff);
}

.div2 {
  max-height: 5px;
  background-color: #1e90ff;
  margin-top: -1px;
}

.column .row1 {
  text-align: end;
  max-width: 225px;
  color: #1e90ff;
  font-size: 1.4rem;
  font-weight: 550;
}

.column .row2 {
  font-size: 1.4rem;
  color: white;
  background-color: #1e90ff;
  font-weight: 550;
}

.billion {
  max-width: auto;
  max-height: auto;
  border: 1px solid red;
  border-radius: 1rem;
  background-color: #f8f893;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.separator2 {
  border-color: #d53f9a;
  margin-top: 0.5rem;
  height: 80px;
  background-color: #d53f9a;
}

.text1 {
  font-size: 0.8rem;
  max-width: 250px;
  padding-top: 1rem;
}

.text2 {
  font-size: 0.8rem;
  padding-top: 1rem;
}

.barra {
  padding-top: 8rem;
  border-left-width: 2px;
  height: 15vh;
  border-color: #d53f9a;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

/*
  Page 02
*/

.textxxs {
  font-size: 0.75rem;
}

.mytable {
  height: 9rem;
  width: 21rem;
}

.divtable {
  padding-right: 2rem;
  padding-top: 0.2rem;
}

.titlesm {
  background-color: #1e90ff;
  text-align: center;
  color: white;
  font-weight: 500;
  font-style: italic;
  width: 22rem;
  border-radius: 0.2rem;
}

.td-content {
  width: 33%; 
  max-width: 33%;
} 

.romano {
  margin-right: 1rem;
  padding-left: 0.5rem;
  color: #1e90ff;
  font-weight: 600;
}

.casilla1 {
  background-color: #db83b8;
}

.casilla2 {
  background-color: #ecb9d8;
}

.casilla3 {
  background-color: #96dfdb;
}

.casilla4 {
  background-color: #c7e6e4;
}

.casilla5 {
  background-color: #f3e69a;
}

.casilla6 {
  background-color: #f0ecd7;
}


/*
  page 03
*/

.page {
  font-size: 0.73rem;
}

.elementNaturalNumbers {
  text-align: center;
  background-color: #f0b4e3;
  border-bottom-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  margin: 2px; 
  box-shadow: 0 0 0 2px #8ee7db; 
}

.separador {
  padding-top: 8rem;
  border-left-width: 2px;
  height: 28vh;
  border-color: #d53f9a;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.column .row3 {
  text-align: end;
  max-width: 225px;
  font-size: 1.4rem;
  font-weight: 550;
  color: white;
  background-color: #1e90ff;
}

.column .row4 {
  font-size: 1.4rem;
  color: #1e90ff;
  font-weight: 550;
  background-color: white;
}


.separators {
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  text-align: end;
}


.div3 {
  width: 57.4%;
  max-height: 0.6rem;
  background-image: linear-gradient(to left, white, #1e90ff);
}


.subtitles {
  font-size: 1.1rem;
}

.subtitles2 {
  font-size: 1.1rem;
  background-color: #c7e6e4;
  border-radius: 0.2rem;
  margin-bottom: 2px;
  position: relative; 
}

.subtitles2::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%; 
  height: 2px; 
  background-color: #4d93da; 
}


.barra2 {
  padding-top: 8rem;
  border-left-width: 2px;
  height: 45vh;
  border-color: #d53f9a;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}


/*
*Page 04 Aritmetics
*/


.barra3 {
  border-left-width: 2px;
  height: 34vh;
  border-color: #d53f9a;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


.separator3 {
  padding-top: 1rem;
}

.barra4 {
  border-left-width: 2px;
  height: 26vh;
  border-color: #d53f9a;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
}


.elementYellow {
  background-color: #f3e69a;
  text-align: center;
  border-top-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  margin: 2px; 
  box-shadow: 0 0 0 2px #8ee7db; 
}


.bluetext {
  color: #6de6d5;
}

.elementNumerosEnteros {
  font-size: 0.6rem;
  background-color: #c9ebe6;
  border-top-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  margin: 2px; 
  box-shadow: 0 0 0 2px #75e0d2; 

}

.separator .div3 {
  max-width: 41.7%;
  max-height: 9px;
  background-image: linear-gradient(to right, white, #1e90ff);
}



/*
* Page 05
*/

.elementYellow2 {
  background-color: #f5ecbd;
  text-align: center;
  border-top-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  margin: 2px; 
  box-shadow: 0 0 0 2px #8ee7db; 
}

.container-p5 {
  font-size: 0.83rem;
}

.div4 {
  width: 45%;
  max-height: 0.6rem;
  background-image: linear-gradient(to left, white, #1e90ff);
}



.row5 {
  text-align: end;
  width: 40rem;
  font-size: 1.4rem;
  font-weight: 550;
  color: white;
  background-color: #1e90ff;
}

.row6 {
  font-size: 1.4rem;
  color: #1e90ff;
  font-weight: 550;
  background-color: white;
}

.textpage5 {
  font-size: 0.78rem;
}

.barra5 {
  border-left-width: 2px;
  height: 38vh;
  border-color: #d53f9a;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
}