.container {
  padding: 7px;
  background-color: white;
}

.main-title {
  text-align: center;
  color: yellow;
  background-color: #ff92f0;
}

.second-title {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  background-color: #c6ecf7;
}

.separator .div1 {
  max-width: 43%;
  max-height: 9px;
  background-image: linear-gradient(to right, white, #1e90ff);
}

.div2 {
  max-height: 5px;
  background-color: #1e90ff;
  margin-top: -1px;
}

.column .row1 {
  text-align: end;
  max-width: 225px;
  color: #1e90ff;
}

.column .row2 {
  color: white;
  background-color: #1e90ff;
}

.billion {
  max-width: auto;
  max-height: auto;
  border: 1px solid red;
  border-radius: 20px;
  background-color: #f9f96c;
  margin-bottom: 0.5rem;
}

.separator2 {
  border-color: #ff92f0;
  margin-top: 0.5rem;
  height: 80px;
  background-color: #ff92f0;
}

.text1 {
  font-size: 0.8rem;
  max-width: 250px;
}

.text2 {
  font-size: 0.8rem;
}
